{% extends "layout.html" %}
{% block content %}
  <div class="user-profile">
    <!-- Display the Google profile picture on the left -->
    <div class="user-profile-picture">
      <img src="{{ session.userinfo.picture }}" alt="Profile Picture" class="profile-picture">
    </div>
    <!-- Display the user's name and email to the right -->
    <div class="user-data">
      <h1>{{ session.userinfo.name }}</h1>
      <p>{{ session.userinfo.email }}</p>
    </div>
  </div>

  <!-- Inline CSS styles -->
  <style>
    .user-profile {
      display: flex;
      align-items: center;
    }

    .user-profile-picture {
      margin-right: 20px; /* Add spacing between the image and text */
    }

    .profile-picture {
      width: 100px; /* Adjust the size as needed */
      height: auto; /* To maintain aspect ratio */
      border-radius:50%
    }

    .user-data {
      flex-grow: 1; /* Allows the text to expand and fill available space */
    }
  </style>
{% endblock content %}

