{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Admins</h2>
    <ul>
        {% for email in admin_emails %}
	    <ul style="margin: 0; padding: 0; list-style-type: none;"><li>
		{{ email }}
                <form method="post" style="display: inline;">
		    <input type="hidden" name="delete" value="{{ email }}">
                    <button style="color: #bdaaaa; border-color: #581e1e; background: #581e1e; height: 25px; width: 50px; font-size: 12px; padding: 0px;" type="submit" class="btn btn-danger">Delete</button>
                </form>
	    </li></ul>
        {% endfor %}
    </ul>

    <form method="post">
        <div class="form-group d-flex align-items-left">
            <input style="width: 250px; background: #dfcccc;" type="text" class="form-control form-control-sm ml-2" id="newEmail" name="new_email" placeholder="prefix@dom.ain">
            <button style="color: #bdaaaa; background: #585d63; border-color: #587474;"type="submit" class="btn btn-primary ml-2">Add</button>
        </div>
    </form>

</div>
{% endblock content %}

