{% extends "layout.html" %}
{% block content %}
	{% for news_item in news_items.items|reverse %}
		<article class="news content-section">
  			<div class="news-body">
    				<div class="news-metadata">
					<p class="mb-0">
						<span class="float-left">By {{ news_item.by }}</span>
						<span class="float-right">{{ news_item.time | default("N/A") | unix_to_datetime }}</span>
					</p>
    				</div>
    				<h2 class="newsitem-title">
					<span class="d-block news-item-title">{{ news_item.title }}</span>
				</h2>
  		                <p>Url: <a class="newsitem-url news-url" href="{{ news_item.url }}" target="_blank">{{ news_item.url }}</a></p>

				<div><ul class="basic-vote-list"><li>
							<form method="post" class="basic-like-text" style="color: {{ like_font_color[news_item.id] }}">
    						<input type="hidden" name="news_item_id" value="{{ news_item.id }}">
    						<input type="hidden" name="action" value="like">
    						<span class="vote-count">{{ like_count[news_item.id] }}</span>
						<button type="submit" class="image-button remove-pre">
							<img src="{{ url_for('static', filename=like_image_url[news_item.id]) }}" alt="Like" class="basic-vote">
    						</button>
					</form>
					<form method="post" class="float-right basic-dislike-text" style="color: {{ dislike_font_color[news_item.id] }}">
    						<input type="hidden" name="news_item_id" value="{{ news_item.id }}">
    						<input type="hidden" name="action" value="dislike">
    						<span class="vote-count">{{ dislike_count[news_item.id] }}</span>
						<button type="submit" class="image-button remove-pre">
							<img src="{{ url_for('static', filename=dislike_image_url[news_item.id]) }}" alt="Dislike" class="basic-vote">
    						</button>
					</form>
				</li></ul></div>
			</div>
		</article>
	{% endfor %}
	{% for page_num in news_items.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if news_items.page == page_num %}
				<a class="active-page-button"href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="page-button"href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
{% endblock content %}
