<!DOCTYPE html>
<html>
<head>
	<!-- Include FullCalendar JavaScript and CSS -->
    	<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">
        {% if title %}
                <title>Hacker news - {{ title }}</title>
        {% else %}
                <title>Hacker news!</title>
        {% endif %}
</head>
<body>
	<header class="site-header">
  		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    			<div class="container">
      				<a class="navbar-brand mr-4" style="color: #dfcccc;" href="/">Hacker News</a>
      				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        				<span class="navbar-toggler-icon"></span>
      				</button>
      				<div class="collapse navbar-collapse" id="navbarToggle">
        				<div class="navbar-nav mr-auto">
          					<a class="nav-item nav-link" href="/">Home</a>
						<a class="nav-item nav-link" href="/newsfeed">Newsfeed</a>
        				</div>
        				<!-- Navbar Right Side -->
        				<div class="navbar-nav">
						{% if session %}
							<p class="welcome-line">Welcome {{session.userinfo.name}}!</p>
							<a class="nav-item nav-link" href="/logout">Logout</a>
							<a class="nav-item nav-link" href="/account">Profile</a>
							{% if session.userinfo.email in admin_emails %}
            							<a class="nav-item nav-link" href="/admin">Admin</a>
        						{% endif %}
						{% else %}
          						<a class="nav-item nav-link" href="/login">Login/Sign in</a>
						{% endif %}
        				</div>
      				</div>
    			</div>
  		</nav>
	</header>
	<main role="main" class="container">
  		<div class="row">
    			<div class="col-md-8">
      				{% block content %}{% endblock %}
			</div>
    			<div class="col-md-4" id="fixedSidebar">
      				<div class="content-section news-content-section">
        				<h3>Hacker News Sidebar</h3>
        				<p class="sidebar-small">Here is some information for your convenience.
          					<ul class="list-group basic-border">
							<li class="list-group-item list-group-item-light basic-sidebar-list">
								<img src="https://drive.google.com/uc?export=download&id=1rFYMkVXFo5e7IA6agjbV_EmHaWAhIS5f" class="gif-size">
								<span id="clock" class="basic-clock"></span>
							</li>	
            						<li class="list-group-item list-group-item-light basic-sidebar-list">Announcements:
								<p class="sidebar-subitem announcements">Currently working on: reorganizing functions, adding documentation, cleaning up import statements....</p>
							</li>
							<li class="list-group-item list-group-item-light basic-sidebar-list">All-time users:
							    {% for user in users %}
								{% if user.nickname %}
							    		<p class="sidebar-subitem">⇨  {{ user.nickname }}</p>
								{% else %}
									<p class="sidebar-subitem">⇨  {{ user.name }}</p>
								{% endif %}
    							    {% endfor %}
							</li>

        					</ul>
        				</p>
      				</div>
    			</div>
  		</div>
	</main>
	<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- for displaying a digital clock -->
	<script>
    		// Function to update the clock
		function updateClock() {
        		const clock = document.getElementById("clock");
        		const currentTime = new Date().toLocaleTimeString('en-US', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' });
        		clock.textContent = currentTime + " UTC";
    		}

    		// Update the clock every second
    		setInterval(updateClock, 1000);

    		// Initial update
    		updateClock();
	</script>
</body>
</html>

