body {
  background: #917a7a;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a4646;
}

li {
  color: #473636;
}

.bg-steel {
  background-color: #725b5b;
}

.site-header .navbar-nav .nav-link {
  color: #7f7474;
}

.site-header .navbar-nav .nav-link:hover {
  color: #bdaaaa;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #7f7474;
  padding: 10px 20px;
  border: 1px solid #cebbbb;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #5a4646;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.page-button {
  background-color: transparent; /* Button background color */
  color: #473636; /* Button text color */
  border: 1px solid #584747; /* Button border color */
  margin-right: 4px; /* Adjust spacing between buttons */
  padding: 4px 9px;
  border-radius: 3px;
}

.active-page-button {
  background-color: #584747; /* Active button background color */
  color: #362525; /* Active button text color */
  border: 1px solid #584747; /* Active button border color */
  margin-right: 4px; /* Adjust spacing between buttons */
  padding: 4px 9px;
  border-radius: 3px;
}

.page-button:hover {
  background-color: transparent; /* Button background color */
  color: #bdaaaa; /* Button text color */
  border: 1px solid #584747; /* Button border color */
  margin-right: 4px; /* Adjust spacing between buttons */
  padding: 4px 9px;
  border-radius: 3px;
}

.active-page-button:hover {
  background-color: #584747; /* Active button background color */
  color: #bdaaaa; /* Active button text color */
  border: 1px solid #584747; /* Active button border color */
  margin-right: 4px; /* Adjust spacing between buttons */
  padding: 4px 9px;
  border-radius: 3px;
}

@media (min-width: 1024px) {
	#fixedSidebar {
    	position: fixed;
    	top: 10%;
    	right: 1%;
    	max-height: 100%;
    	overflow-y: auto;
    	background-color: transparent;
	}
}

.basic-table {
	width:100%; 
	border-collapse: separate; 
	border-spacing: 10px 5px;
	background-color: #362525;
	color: #6a5858;
	border-radius: 3px;
}

.user-delete-button {
	color: #ac8888; 
	border-color: #581e1e; 
	background: #581e1e; 
	height: 25px; 
	width: 50px; 
	font-size: 12px; 
	padding: 0px;
}

.admin-delete-button {
        color: #bdaaaa;
        border-color: #581e1e;
        background: #581e1e;
        height: 25px;
        width: 50px;
        font-size: 12px;
        padding: 0px;
}

.user-profile {
      display: flex;
      align-items: center;
}

.user-profile-picture {
      margin-right: 20px; /* Add spacing between the image and text */
}

.profile-picture {
      width: 140px; /* Adjust the size as needed */
      height: auto; /* To maintain aspect ratio */
      border-radius:50%
}

.user-data {
      flex-grow: 1; /* Allows the text to expand and fill available space */
}

.remove-pre {
	background-color: transparent; 
	margin: 0px; 
	padding: 0px; 
	border-color: transparent
}

.add-input-filed {
	width: 250px; 
	background: #dfcccc;
}

.basic-form {
	display: inline;
}

.admin-add-button {
	color: #bdaaaa; 
	background: #585d63; 
	border-color: #587474;
}

.news-item-title {
	clear: left;
}

.newsitem-url {
	color: #5a4646
}

.basic-vote-list {
	margin: 0; 
	padding 0; 
	list-style-type: none;
}

.basic-like-text {
	display: inline; 
	font-weight: bold; 
	padding-left: 10px;
}

.basic-dislike-text {
        display: inline;
        font-weight: bold;
        padding-right: 40px;
}

.basic-vote {
	height: 22px; 
	width: 22px;
}

.welcome-line {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        color: #7f7474;
        margin-top: 4px;
        margin-bottom: -4px;
}

.news-content-section {
	background-color: #725b5b;
}

.sidebar-small {
	color: #7f7474;
}

.basic-border {
	border: 1px solid #cebbbb; 
	border-radius: 3px;
}

.basic-sidebar-list {
	background-color: #5a4646; 
	color: #362525;
	font-size: 20px;
}

.gif-size {
	width: 100px; 
	height: 100px;
}

.basic-clock {
	font-size: 26px; 
	padding-left: 5px; 
	color: #362525; 
	font-weight: 400;
}

.sidebar-subitem {
	font-size: 21px; 
	color: #471d1d; 
	padding-left: 1em; 
	font-weight: 100; 
	line-height: 0.8;
}

.announcements {
	line-height: 1;
}
