body {
  background: #917a7a;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #5a4646;
}

li {
  color: #473636;
}

.bg-steel {
  background-color: #725b5b;
}

.site-header .navbar-nav .nav-link {
  color: #7f7474;
}

.site-header .navbar-nav .nav-link:hover {
  color: #bdaaaa;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #7f7474;
  padding: 10px 20px;
  border: 1px solid #cebbbb;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #5a4646;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.page-button {
  background-color: transparent; /* Button background color */
  color: #473636; /* Button text color */
  border: 1px solid #584747; /* Button border color */
  margin-right: 4px; /* Adjust spacing between buttons */
  padding: 4px 9px;
  border-radius: 3px;
}

.active-page-button {
  background-color: #584747; /* Active button background color */
  color: #362525; /* Active button text color */
  border: 1px solid #584747; /* Active button border color */
  margin-right: 4px; /* Adjust spacing between buttons */
  padding: 4px 9px;
  border-radius: 3px;
}

.page-button:hover {
  background-color: transparent; /* Button background color */
  color: #bdaaaa; /* Button text color */
  border: 1px solid #584747; /* Button border color */
  margin-right: 4px; /* Adjust spacing between buttons */
  padding: 4px 9px;
  border-radius: 3px;
}

.active-page-button:hover {
  background-color: #584747; /* Active button background color */
  color: #bdaaaa; /* Active button text color */
  border: 1px solid #584747; /* Active button border color */
  margin-right: 4px; /* Adjust spacing between buttons */
  padding: 4px 9px;
  border-radius: 3px;
}

@media (min-width: 1024px) {
	#fixedSidebar {
    	position: fixed;
    	top: 10%;
    	right: 1%;
    	max-height: 100%;
    	overflow-y: auto;
    	background-color: transparent;
	}
}
